{% extends "tasks/skeleton.html" %}
{% load tasks_tags i18n static %}

{% block tasks %}
<div class="row">
  <div class="small-12 flex-center columns">
      <div id="page">
    {% if form.errors %}
    <p>{% trans "Your username and password didn't match. Please try again." %}</p>
    {% endif %}

    <form name="myform" method="post" action=".">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <button class="box-1" type="submit">
      <div class="btn btn-one">
        <span onclick="document.forms[0].submit()">{% trans "Login" %}</span>
      </div>
    </button>
    <input type="hidden" name="next" value="{% url 'tasks:home' %}" />

    </form>

<a href="/register" class="color-a">{% trans "Create account" %}</a>

  </div>

</div>
</div>
{% endblock %}
