{% extends "tasks/skeleton.html" %}
{% load tasks_tags i18n static %}

{% block tasks %}
<div class="row">
  <div class="small-12 flex-center columns ">
      <div id="page">
          <div class="register">

    {% if messages %}
       <ul>
           {% for message in messages %}
           <li>{{ message }}</li>
           {% endfor %}
       </ul>
   {% endif %}

   <h1>Create account</h1>

    <form method="post" >
        {% csrf_token %}
        <table>
           {{ form.as_ul }}
            <tr>
               <td></td>
               <td><input type="submit" name="submit" value="Register" /></td>
           </tr>
        </table>
    </form>
</div>
<a href="/">Login</a>
</div>
</div>

</div>
{% endblock %}
