{% load i18n static sass_tags compress %}
<!DOCTYPE html>

<html>

  <head>
    <title>{% block title %}TodoList{% endblock %}</title>
    <meta HTTP-EQUIV="CACHE-CONTROL" content="no-Cache">
    <link rel="shortcut icon" href="{% static 'tasks/favicon.ico' type='image/x-icon' %}">
    {% compress css %}
    <link href="{% sass_src 'tasks/scss/main.scss' %}" rel="stylesheet" type="text/css" />
    {% endcompress %}

  </head>

  <body class="no-js">

    <div class="top-bar header-shadow">
                <h1 class="header-logo">TodoList</h1>
    </div>
    <div class="top-bar-right">
                {% if request.user.is_authenticated %}
                <h4>Hello {{ user.username }}</h4>
                <a href="./logout" class="color-a"><h4>Logout</h4></a>
                {% endif %}
    </div>

    <div>
      {% block tasks %}{% endblock %}
    </div>


    <footer>
      <h6>{% block footer %}{% endblock %}</h6>
    </footer>
    {% compress js%}
    <script src="{% static 'tasks/vendor/node_modules/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'tasks/vendor/node_modules/foundation-sites/dist/js/plugins/foundation.core.js' %}"></script>
    <script src="{% static 'tasks/vendor/node_modules/foundation-sites/dist/js/plugins/foundation.util.keyboard.js' %}"></script>
    <script src="{% static 'tasks/vendor/node_modules/foundation-sites/dist/js/plugins/foundation.util.mediaQuery.js' %}"></script>
    <script src="{% static 'tasks/vendor/node_modules/foundation-sites/dist/js/plugins/foundation.util.motion.js' %}"></script>
    <script src="{% static 'tasks/vendor/node_modules/foundation-sites/dist/js/plugins/foundation.util.triggers.js' %}"></script>
    <script src="{% static 'tasks/vendor/node_modules/foundation-sites/dist/js/plugins/foundation.util.box.js' %}"></script>
    <script src="{% static 'tasks/vendor/node_modules/foundation-sites/dist/js/plugins/foundation.util.nest.js' %}"></script>
    <script src="{% static 'tasks/vendor/node_modules/foundation-sites/dist/js/plugins/foundation.reveal.js' %}"></script>
<script src="{% static 'tasks/vendor/node_modules/foundation-sites/dist/js/plugins/foundation.dropdown.js' %}"></script>
    <script src="{% static 'tasks/vendor/node_modules/foundation-sites/dist/js/plugins/foundation.dropdownMenu.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $(document).foundation();

      })


      $('#id_username').attr('placeholder', 'User');
      $('#id_password').attr('placeholder', 'Password');
      $('#id_password1').attr('placeholder', 'Password');
      $('#id_password2').attr('placeholder', 'Confirmation Password');
    </script>

    {% block 'js' %}{% endblock %}
    {% endcompress %}
  </body>

</html>
