{% with id=widget.attrs.id %}
<ul{% if id %} id="{{ id }}"{% endif %} class="dropdown menu text-center" data-dropdown-menu>
  {% for group, options, index in widget.optgroups %}
  <li>
    {% for option in options %}
    {% if option.selected == True %}
    <span class='label {{ option.value }}' ><a href='#'>{% include option.template_name with widget=option %}</a></span>
    {% endif %}
    {% endfor %}
    <ul{% if id %} id="{{ id }}_{{ index }}"{% endif %} class="menu text-center sub-ul">
    {% for option in options %}
    {% if option.selected == False %}
      <li>
      <span class="label {{ option.value }}"><a href='{% url 'tasks:update' instance_pk %}?status={{ option.value }}'>{% include option.template_name with widget=option %}</a></span>
      </li>
      {% endif %}
      {% endfor %}
      {% if group %}
    </ul>
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endwith %}
