html, body {
    background-color: $background-color;
    width: 100%;
}

header {
    background-color: $background-header;
    color: $font-header;
    text-align: center;
}

.header-shadow {

      -webkit-box-shadow: 0 6px 4px -4px $color-shadow;
      -moz-box-shadow: 0 6px 4px -4px $color-shadow;
      box-shadow: 0 6px 4px -4px $color-shadow;
}



#page {
    width: 75%;
    background-color: $background-header;
    -webkit-box-shadow: 12px 0 15px -4px $color-shadow, -12px 0 8px -4px $color-shadow;
    -moz-box-shadow: 12px 0 15px -4px $color-shadow, -12px 0 8px -4px $color-shadow;
    box-shadow: 12px 0 15px -4px $color-shadow, -12px 0 8px -4px $color-shadow;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#haut-page {
    border-bottom : 2px solid $color-border-bottom;
}

#buttonNew {
    color: $color-button;
    border-color: $color-button;
    margin: 0;

}

.color-text-grey {
    color: $color-grey;
}

#close-button {
    font-size: 2em;
}
