html, body {
    background-color: $background-color;
    width: 100%;
}

/*
========================
        TOP BAR
========================
*/
.top-bar {
    background-color: $background-header;
    color: $font-header;
    text-align: center;
    margin-bottom: 2%;
}

h1.header-logo {
    text-align: center !important;
}

.header-shadow {
    -webkit-box-shadow: 0 6px 4px -4px $color-shadow;
    -moz-box-shadow: 0 6px 4px -4px $color-shadow;
    box-shadow: 0 6px 4px -4px $color-shadow;
}

.header-logo {
    text-align: center !important;
    width: 100%;
    display: block;
}

.top-bar-right {
    position: absolute;
    right: 0;
    top: 0;
}




/*
========================================================================
----------------------------------PAGE----------------------------------
========================================================================
*/
#page {
    width: 75%;
    padding: 2rem;
    background-color: $background-header;
    -webkit-box-shadow: 12px 0 15px -4px $color-shadow, -12px 0 8px -4px $color-shadow;
    -moz-box-shadow: 12px 0 15px -4px $color-shadow, -12px 0 8px -4px $color-shadow;
    box-shadow: 12px 0 15px -4px $color-shadow, -12px 0 8px -4px $color-shadow;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
========================
         TASKS
========================
*/

// Haut de Page
#haut-page {
    border-bottom : 2px solid $color-border-bottom;
}

#button-new {
    color: $color-button;
    border-color: $color-button;
    margin: 0;
}

.color-text-grey {
    color: $color-grey;
}

#p-new {
    display: inline-block;
    top: 0;
}

#filter_form {
    display: inline-block;
}

// All tasks
h2#title-tasks {
    padding-top: 2%;
    border-bottom : 2px solid $color-border-tasks;
}

a {
    color: black;
    padding: 0 !important;
}

li#li-tasks {
    border-bottom : 2px solid $color-border-bottom;
    border-bottom-width:50%;
    padding-top: 0.3rem;
}

ul.dropdown, ul.menu {
    list-style-type: none;
    max-width: 95px;
    margin: 0;
    padding: 1rem 0;
}

#close-button {
    font-size: 2em;
}

ul.sub-ul {
    background-color: $color-shadow;
    padding: 0;
}


/*
========================
        LOGIN
========================
*/
div[id=login] {
    max-width: 50rem;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.callout {
    width: 50rem;
}


/*
========================
     FROM REGISTER
========================
*/
div[id=register] {
    max-width: 50rem;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
}


// Design helptext
span.help {
    color: grey;
    font-size: 0.8rem;
}

span.help ul li {
    color: grey;
    margin-left: 0;

}

span.help ul {
    margin-left: 0;
    margin-bottom: 0;
}


#id_username, #id_password, #id_password1, #id_password2, #id_email {
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid grey;
}

.color-a {
    color: rgb(66, 134, 244);
}


/*
========================
         BUTTON
========================
*/

button[class*=box] {
    height: 33.33%;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
}

.btn-one {
    color: #000;
    transition: all 0.3s;
    position: relative;
}
.btn-one span {
    transition: all 0.3s;
}
.btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(0,0,0,0.5);
    border-bottom-color: rgba(0,0,0,0.5);
    transform: scale(0.1, 1);
}
.btn-one:hover span {
    letter-spacing: 2px;
}
.btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}
.btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(127,127,127,0.1);
}
.btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}



/*
========================================================================
----------------------------------TEST----------------------------------
========================================================================
*/


#description-task {
    // Design
    border: 1px solid black;
    -webkit-box-shadow: 12px 0 15px -4px $color-shadow, -12px 0 8px -4px $color-shadow;
    -moz-box-shadow: 12px 0 15px -4px $color-shadow, -12px 0 8px -4px $color-shadow;
    box-shadow: 12px 0 15px -4px $color-shadow, -12px 0 8px -4px $color-shadow;
    color: #8a8a8a;
    padding: 0.3rem;
}

#description-task h1 {
    font-size: 2.5rem;
}
#description-task h2 {
    font-size: 2.25rem;
}
#description-task h3 {
    font-size: 2.0rem;
}
#description-task h4 {
    font-size: 1.75rem;
}
#description-task h5{
    font-size: 1.5rem;
}
#description-task h6 {
    font-size: 1.25rem;
}
#description-task p {
    font-size: 1rem;
    margin-bottom: 0;
}
#description-task a {
    font-size: 1rem;
    color: rgb(66, 134, 244);
}
#description-task ul {
    list-style-type: disc;
}
#description-task code {
    background-color: rgb(43,44,39);
    color: rgb(248,241,229);
    font-size: 0.8rem;
}
#description-task blockquote {
    color: black;
    border-left: 2px solid black;
    padding-left: 2px;
    margin-left: 1rem;
}



table {
    list-style-type: none;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}
