html, body {
    min-height: 100vh;
    height: 100%;
    margin: 0;
    background-color: $background-color;
}

header {
    text-align: center;
}
select {
  // remove native carret, foundation provide one as background image
  -moz-appearance: none;    // for firefox
  -webkit-appearance:none;  // for chrome
  &::-ms-expand {           // for IE10
    display: none;
  }

  margin-right: 15%;
  margin-left: 15%;
  width: 70%;
}

ul{
    list-style-type: none;
    margin: 0 !important;
}

ul li.cell {
    position: relative;
    display: block;
    margin: 0;
    text-align: center;
    background-color: grey;
    margin-bottom: 2%;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 2%;
    padding-right: 2%;

}

footer {
    bottom: 0;
    position: fixed;
    text-align: right;
    width: 100vw;
    right: 4rem;
}

footer h6 {
    font-size: 0.7rem;
}

p {
    margin: 0;
    margin-left: 70%;
}

#filter_form {
    background-color: red;
    margin-bottom: 1%;
}

.close-button {
    color: black;
}

.close-button:hover, .close-button:active {
    color: red;
}
